.h1{
  color: rgb(14, 10, 10);
  font-weight: bold;
  text-align: center;
}
.p{
  color: rgb(8, 8, 8);
  background-color: rgb(141, 133, 133);
  padding: 10px;
  margin: 10;
}
#h2{
  text-align: center;
}
form{
  width: 50%;
}
.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  width: 90px;
}
table, th, td {
  border: 1px solid black;
}